html
, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #181e2d;
}

ul,
li,
ol {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

.all > div {
  width: 100%;
}

.all > div > div {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.all .scroll {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
}

.all .scroll .scrollpack {
  width: 20px;
  height: 20px;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .scroll .scrollpack .circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #c9d8e3;
  margin: 0 auto;
  opacity: 0.2;
}

.all .scroll .active {
  border: solid 1px #75fed0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .scroll .active .circle {
  opacity: 1;
  background-color: #75fed0;
  width: 12px;
  height: 12px;
}

.all .section1 {
  height: 900px;
  background-image: url(./backgroundImage/power.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .section1 .logo {
  height: 83px;
}

.all .section1 .logo .logopack {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.all .section1 .logo .logopack .logoimg {
  width: 93px;
}

.all .section1 .section1pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.all .section1 .section1pack .leftarea {
  margin-top: 285px;
}

.all .section1 .section1pack .leftarea .title {
  font-size: 56px;
  font-weight: 300;
  line-height: 1.16;
  text-align: left;
  color: #ffffff;
}

.all .section1 .section1pack .leftarea .subtitle {
  margin-top: 13px;
  width: 387px;
  color: #d0e5ff;
  font-size: 17px;
  opacity: 0.6;
  line-height: 1.76;
}

.all .section1 .section1pack .leftarea .btn {
  width: 233px;
  height: 54px;
  border-radius: 100px;
  border: solid 1.5px #707070;
  background-color: #1a82ff;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .section1 .section1pack .leftarea .btn .content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section1 .section1pack .leftarea .btn .content .btntitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.all .section1 .section1pack .leftarea .btn .content .btnicon {
  margin-left: 10px;
  width: 22px;
  height: 22px;
}

.all .section1 .section1pack .leftarea .point {
  width: 17px;
  height: 27px;
  margin-top: 125px;
}

.all .section1 .section1pack .pone1 {
  width: 420px;
  height: 744px;
  position: absolute;
  right: 219px;
  bottom: 0;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.all .section2 {
  height: 370px;
}

.all .section2 .section2pack {
  padding-top: 102px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .section2 .section2pack * {
  text-align: center;
}

.all .section2 .section2pack .title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.17;
  color: #ffffff;
}

.all .section2 .section2pack .subtitle {
  margin-top: 25px;
  color: #d0e5ff;
  opacity: 0.6;
  font-size: 17px;
  line-height: 1.76;
}

.all .section3 {
  height: 1000px;
  background-color: #1a2132;
}

.all .section3 .section3pack {
  padding-top: 102px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .section3 .section3pack > .title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.17;
  text-align: center;
  color: #ffffff;
}

.all .section3 .section3pack .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section3 .section3pack .content .area .item {
  margin-top: 47.8px;
}

.all .section3 .section3pack .content .area .item .icon {
  display: inline-block;
  width: 31px;
}

.all .section3 .section3pack .content .area .item .title {
  margin-top: 15.9px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.all .section3 .section3pack .content .area .item .subtitle {
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.43;
  color: #d0e5ff;
  margin-top: 12px;
}

.all .section3 .section3pack .content .mainimg {
  margin-left: 94px;
  margin-right: 94px;
}

.all .section3 .section3pack .content .left .item {
  text-align: right;
}

.all .section3 .section3pack .content .left .right {
  text-align: left;
}

.all .section4 {
  height: 600px;
}

.all .section4 .section4pack {
  padding-top: 108px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.all .section4 .section4pack .title {
  font-size: 46px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.all .section4 .section4pack .s4img {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .section4 .section4pack .s4img .s4imgpack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section4 .section4pack .s4img .s4imgpack > div {
  margin-left: 15px;
}

.all .section5 {
  background-color: #1a2132;
}

.all .section5 .section5pack {
  padding-top: 108px;
  padding-bottom: 99px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .section5 .section5pack > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .section5 .section5pack .area .left {
  text-align: left;
}

.all .section5 .section5pack .area .left .title {
  font-size: 46px;
  font-weight: 300;
  color: #ffffff;
}

.all .section5 .section5pack .area .left .subtitle {
  font-size: 17px;
  line-height: 1.76;
  color: #d0e5ff;
  opacity: 0.6;
  margin-top: 23px;
}

.all .section5 .section5pack .area .right {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section5 .section5pack .area .right .item {
  text-align: left;
  margin: 0 auto;
}

.all .section5 .section5pack .area .right .item .itempack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .section5 .section5pack .area .right .item .itempack * > .title {
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}

.all .section5 .section5pack .area .right .item .itempack * > .subtitle {
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.56;
  color: #d0e5ff;
  margin-top: 11px;
}

.all .section5 .section5pack .area .right .item .itempack .icon1 {
  width: 30px;
  height: 39px;
}

.all .section5 .section5pack .area .right .item .itempack .icon2 {
  width: 19.2px;
  height: 38.2px;
  margin-left: 5px;
}

.all .section5 .section5pack .area .right .item .itempack .content {
  margin-left: 25px;
}

.all .section5 .section5pack .area .right .item .itempack .content2 {
  margin-left: 30.8px;
  margin-top: 24px;
}

.all .section5 .section5pack .map {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 53px;
}

.all .section6 {
  height: 345px;
}

.all .section6 .section6pack {
  padding-top: 74px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .section6 .section6pack .title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.17;
  width: 520px;
  text-align: left;
  color: #ffffff;
}

.all .section6 .section6pack .content {
  margin: 0 auto;
}

.all .section6 .section6pack .content .subtitle {
  opacity: 0.6;
  font-size: 17px;
  line-height: 1.76;
  text-align: left;
  color: #d0e5ff;
}

.all .section6 .section6pack .content .learn {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .section6 .section6pack .content .learn .learnmore {
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.56;
  color: #75fed0;
}

.all .section6 .section6pack .content .learn .icon {
  margin-left: 8.2px;
}

.all .section6 .section6pack .content .learn .icon img {
  width: 7.7px;
  height: 7.2px;
}

.all .section7 {
  height: 600px;
  background-color: #1a2132;
}

.all .section7 .section7pack {
  padding-top: 108px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section7 .section7pack .arrow {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section7 .section7pack .arrow > img {
  width: 22.2px;
  height: 42px;
}

.all .section7 .section7pack .right img {
  width: 44px;
  height: 89px;
}

.all .section7 .section7pack .content {
  text-align: center;
}

.all .section7 .section7pack .content .title {
  font-size: 46px;
  font-weight: 300;
  color: #ffffff;
}

.all .section7 .section7pack .content .subtitle {
  opacity: 0.6;
  font-size: 17px;
  line-height: 1.76;
  color: #d0e5ff;
  margin-top: 61px;
}

.all .section7 .section7pack .content .subimg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 61px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.all .section7 .section7pack .content .subimg .human {
  border-radius: 66px;
  height: 66px;
  width: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .section7 .section7pack .content .subimg .human img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.all .section7 .section7pack .content .subimg .active {
  border: solid 1px #abbdd5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .section7 .section7pack .content .name {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.all .section7 .section7pack .content .name .name1 {
  -webkit-transform: translateX(-24.5px);
          transform: translateX(-24.5px);
}

.all .section7 .section7pack .content .name .name2 {
  margin-left: 73px;
}

.all .section7 .section7pack .content .name .name3 {
  margin-left: 83px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.all .section7 .section7pack .content .name .name4 {
  margin-left: 74.5px;
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}

.all .section8 {
  height: 750px;
  background-image: url(./backgroundImage/backu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.all .section8 .section8pack {
  padding-top: 108px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .section8 .section8pack .title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.17;
  text-align: center;
  color: #ffffff;
}

.all .section8 .section8pack .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55px;
}

.all .section8 .section8pack .btn .appstore {
  width: 168px;
  height: 47.9px;
}

.all .section8 .section8pack .btn .googleplay {
  width: 161.1px;
  height: 47.7px;
  margin-left: 30px;
}

.all .section8 .section8pack .pone3 {
  width: 342px;
  height: 391px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 93.1px;
}

.all .underbar {
  height: 250px;
}

.all .underbar .underbarpack {
  padding-top: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .underbar .underbarpack .voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all .underbar .underbarpack .voice .asset {
  width: 15px;
  height: 21px;
  text-align: center;
}

.all .underbar .underbarpack .voice .title {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.all .underbar .underbarpack .bar {
  height: 1px;
  opacity: 0.1;
  background-color: #d0e5ff;
  margin-top: 40px;
}

.all .underbar .underbarpack .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.all .underbar .underbarpack .icon > img {
  text-align: center;
  cursor: pointer;
}

.all .underbar .underbarpack .icon .google {
  width: 23.6px;
  height: 15px;
}

.all .underbar .underbarpack .icon .facebook {
  width: 16px;
  height: 16px;
  margin-left: 18.4px;
}

.all .underbar .underbarpack .icon .twiter {
  width: 17px;
  height: 14.2px;
  margin-left: 22px;
}

.all .underbar .underbarpack .icon .bid {
  width: 15.9px;
  height: 15.9px;
  margin-left: 23px;
}

.all .underbar .underbarpack .icon .chand {
  width: 19px;
  height: 11.9px;
  margin-left: 24.1px;
}

.all .underbar .underbarpack .years {
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #d0e5ff;
  margin-top: 31px;
}
/*# sourceMappingURL=lecture5.css.map */